@model ProductsListViewModel

@foreach (var prod in Model.Products)
{
    <div>
        <h3>@prod.Name</h3>
        <p>@prod.Description</p>
        <h4>@prod.Price.ToString("c")</h4>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="List"></div>